<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC 
"-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<!-- toDo use the latest namespace -->

<hibernate-configuration>
	<session-factory>
		<!-- Database connection settings -->
		<property name="hibernate.connection.driver_class">${hibernate.connection.driver_class}</property>
		<property name="hibernate.connection.url">${hibernate.connection.url}</property>
		<property name="hibernate.connection.username">${hibernate.connection.username}</property>
		<property name="hibernate.connection.password">${hibernate.connection.password}</property>

		<!-- JDBC connection pool (use the built-in) -->
		<property name="hibernate.connection.pool_size">${hibernate.connection.pool_size}</property>

		<!-- Enable Hibernate's automatic session context management -->
		<property name="hibernate.current_session_context_class">${hibernate.current_session_context_class}</property>

		<!-- Disable the second-level cache -->
		<property name="hibernate.cache.provider_class">${hibernate.cache.provider_class}</property>

		<!-- Echo all executed SQL to stdout -->
		<property name="hibernate.show_sql">${hibernate.show_sql}</property>

		<!-- Drop and re-create the database schema on startup -->
		<property name="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</property>
		
		<!-- FixMe: org.hibernate.HibernateException: Dialect class not found: ${hibernate.dialect} -->
		<!-- SQL dialect -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
	</session-factory>

</hibernate-configuration>